
@{
    ViewBag.Title = "PersistentConnectionApi";
}

<h2>PersistentConnectionApi</h2>

<h3>Example</h3>

<div>
    <input type="text" id="msg" />
    <input type="button" id="broadcast" value="Broadcast" />    
    <ul id="messages"></ul>
</div>

@section scripts {

    <script type="text/javascript">
        // Setup connection
        var connection = $.connection('/echo');
        var conn2 = $.connection('/echo2');

        // Start Connection
        connection.start();
        conn2.start();

        function addMsg(data) {
            $("#messages").append("<li>" + data + "</li>");
        }

        // Send Message to server
        $("#broadcast").click(function () {
            connection.send($("#msg").val()); // Broadcast
            conn2.send($("#msg").val()); // Send
        });

        // Received Message
        connection.received(function (data) {
            $("#messages").append("<li>" + data + "</li>");
        });

        conn2.received(addMsg);

        

    </script>
    
}